In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set_style('darkgrid')

# Importing the algorithms we will be using for our  model

In [19]:
import sklearn as sk
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm

In [20]:
df = pd.read_csv('analytical_base_table.csv')

In [21]:
df.head()

,Product_Info_1,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,BMI,Employment_Info_1,Employment_Info_2,...,Product_Info_2_B2,Product_Info_2_C1,Product_Info_2_C2,Product_Info_2_C3,Product_Info_2_C4,Product_Info_2_D1,Product_Info_2_D2,Product_Info_2_D3,Product_Info_2_D4,Product_Info_2_E1
0,1,10,0.076923,2,1,1,0.641791,0.323008,0.028,12,...,0,0,0,0,0,0,0,1,0,0
1,1,26,0.076923,2,3,1,0.059701,0.272288,0.000,1,...,0,0,0,0,0,0,0,0,0,0
2,1,26,0.076923,2,3,1,0.029851,0.428780,0.030,9,...,0,0,0,0,0,0,0,0,0,1
3,1,10,0.487179,2,3,1,0.164179,0.352438,0.042,9,...,0,0,0,0,0,0,0,0,1,0
4,1,26,0.230769,2,3,1,0.417910,0.424046,0.027,9,...,0,0,0,0,0,0,1,0,0,0

In [22]:
df.shape

(59381, 133)

Spliting the Dataframe into randomized subsets. to train our model

In [23]:
from sklearn.model_selection import train_test_split

In [26]:
#creating seperate object for target variable
y = df.Response

#creating seperate object for the input features
X = df.drop('Response', axis=1)

In [27]:
X.shape, y.shape

((59381, 132), (59381,))

* Now we pass X and y to the train_test_split() function
    * you'll split X into X_train and X_test.
    * you'll split into y_train and y_test.

In [28]:
#tewst_size=0.2 set aside 20% of our observation for our test set.
#split X and y into train and test sets
#it returns a tuple with 4 elements
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=1234)

To comfirm we the right kind of observation in each subset

In [29]:
print(len(X_train), len(X_test), len(y_train), len(y_test))

47504 11877 47504 11877

In [31]:
from sklearn.preprocessing import StandardScaler

In [44]:
# Feature Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [45]:
from sklearn.metrics import confusion_matrix
from sklearn.externals import joblib
print('Libraries Imported')

Libraries Imported

In [59]:
# Fitting Random Forest Classification to the Training set
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 42)
classifier.fit(X_train, y_train)
# predicting the X_test set result
y_pred = classifier.predict(X_test)

SyntaxError: unexpected EOF while parsing (<ipython-input-59-a19968cb018a>, line 8)

In [47]:
print(list(zip(df.columns[0:4], classifier.feature_importances_)))
joblib.dump(classifier, 'randomforestmodel.pkl')

[('Product_Info_1', 0.0026336227894405823), ('Product_Info_3', 0.006382923657783704), ('Product_Info_4', 0.05424936700090259), ('Product_Info_5', 0.0007520210941279451)]

['randomforestmodel.pkl']

# Evaluating the Performance

In [49]:
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import cross_val_score,GridSearchCV
from sklearn.multiclass import OneVsRestClassifier

#Using a Random Forest tree classifier
from sklearn.ensemble import RandomForestClassifier
param_grid={'max_depth':range(1,20,2)}
RF=RandomForestClassifier()
clf_rf=GridSearchCV(RF,param_grid,cv=10,scoring='accuracy',n_jobs=-1).fit(X_train,y_train)
y_pred=clf_rf.predict(X_test)
accuracy_score(y_test,y_pred)

/home/abiolaks/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.48901237686284416

In [53]:
df_test = pd.read_csv('analytical_base_table_test.csv')

In [56]:
ids = df_test['Id']
predictions = c.predict(df_test.drop('Id','Ht','Wt',axis=1))


output = pd.DataFrame({ 'Id' : ids, 'Response': predictions })
output.to_csv('predictions.csv', index = False)
output.head()

NameError: name 'c' is not defined